
<!--The content below is only a placeholder and can be replaced.-->,

<div style="width:100%; overflow-x:hidden;margin:0;">

<div class="" style="width:100%;margin-top:0px;padding:0">
    <div class="container">
        <div class="row">
            <div class="navItem1 ">
                <div class="user-menu" style="">
                    <ul>
                        <li><a href="#"><i class="fa fa-user"></i> Home</a></li>
                        <li><a href="#"><i class="fa fa-user"></i> My Cart</a></li>
                        <li><a href="#"><i class="fa fa-user"></i> Checkout</a></li>
                        <li><a href="#"><i class="fa fa-user"></i> Login</a></li>
                     
                    </ul>
                </div>
            </div>

           

            <div class=" navItem3 " style="">
                    <div class="shopping-item">
                        <a >Cart - <span class="cart-amunt">$100</span> <i class="fa fa-shopping-cart"></i> <span class="product-count">5</span></a>
                    </div>
                </div>
            
           
        </div>
    </div>
</div> <!-- End header area -->

<div class="mainmenu-area" style="margin-top:5px;" >
        <div class="container">
            <div class="row">
             
                <div class="navbar">
                    <ul class="nav navbar-nav" style="flex-direction: row">
                        <li class="active"><a href="index.html">Home</a></li>
                        <li><a href="shop.html">Shop page</a></li>
                        <li><a href="single-product.html">Single product</a></li>
                        <li><a href="cart.html">Cart</a></li>
                        <li><a href="checkout.html">Checkout</a></li>
                        <li><a href="#">Category</a></li>
                        <li><a href="#">Others</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>  
            </div>
        </div>

        
    </div>

</div>

<router-outlet></router-outlet>
