<!-- Profile Page , Modal -->
<div id="mainpage">
<div class="page-header"></div>
<div class="profile-container">
  <div class="row">
  <div class="col-md-4">
    <img height="300" width="300" src="https://thumbs.dreamstime.com/b/profile-icon-male-avatar-portrait-casual-person-silhouette-face-flat-design-vector-46846371.jpg" class="img-responsive" width="100" height="100" />
  </div>
  <div class="col-md-8 profile-info">
    <div class="user-name">{{user.firstname}} {{user.lastname}}</div>
    <div class="user-mail"><i>{{user.email}}</i></div>
    <!-- <div class="user-company">{{user.username}}</div> -->
  </div>
</div>
  <br/><br/>
  <div class="row more-info">
  <div class="col-md-5 infoItem">
    <div><b>Username</b></div>
    <p>{{user.username}}</p>
  </div>
    <div class="col-md-5 infoItem">
      <div><b>Phone</b></div>
    <p>{{user.phone}}</p>
  </div>
  </div>
   <div class="row more-info">
  <div class="col-md-5 infoItem">
    <div><b>Type</b></div>
    <p>{{user.type}}</p> <!-- </3 :( -->
  </div>
    <div class="col-md-5 infoItem">
      <div><b>Address</b></div>
      <span *ngIf="user.address==null;then condition2 else condition1"></span>
      <ng-template #condition1>
            <p>{{user.address.state}} - {{user.address.city}} {{user.address.street}} {{user.address.zipcode}}</p>
      </ng-template>

      <ng-template>
          <p>None..</p>
      </ng-template>
    
  </div>
  </div>
  <br/>
  <div class="row">
    <div (click)="gotMyAccount()" class="todo-links" style="cursor: pointer"><a><i class="fa fa-pencil-square-o "></i> My Products</a>
    </div>
    <div (click)="logout()" class="todo-links" style="cursor: pointer"><a><i class="fa fa-frown-o"></i> <span style="width:150px;color:red;">Logout</span></a>
    </div>

  </div>
  <br/><br/>

</div>

</div>