<div class="section-padding alice-bg">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="section-header section-header-2 section-header-with-right-content">
          <h2>Purchse List</h2>
        </div>
      </div>
    </div>
    
    <div class="row">
        <div class="col">
          <!--
             class="info"
          -->
          <form #validate="ngForm">
            <div *ngIf="length !== 0">
              <div *ngFor="let purchse of purcheseList" class="list-background">
                <div class="list">
                  <div class="thumb">
                      <img src="{{purchse.image}}" class="img-fluid" alt="">
                  </div>
                  <div class="body">
                    <div class="content">
                      <h4>{{purchse.name}}</h4> 
                      <div>
                        <span class="company"><i data-feather="briefcase">Price: {{purchse.price}}</i></span>
                        <span class="office-location"><i data-feather="map-pin">Category: {{purchse.category}}</i></span>
                        <span class="job-type full-time"><i data-feather="clock">Status: {{purchse.status}}</i></span>
                      </div>
                      <div>
                          <span class="job-type full-time"><i data-feather="clock">Description: {{purchse.description}}</i></span>
                      </div>
                    </div>
                    <div class="more">
                        <div *ngIf="purchse.status === 'pending'" class="buttons">
                          <button class="button" data-toggle="modal" data-target="#apply-cancel-id" (click)="cancelOrder(purchse)" [(ngModel)]="purchseObject">
                            Cancel Order
                          </button>
                          <!--<a href="purcheseList.image"></a>
                            <a href="#" class="favourite"><i data-feather="heart"></i></a>cancelOrder($event) [(ngModel)]="singlePurchse"-->
                        </div>
                        <div *ngIf="purchse.status !== 'pending'" class="buttons">
                            <span  data-toggle="modal" data-target="#apply-delivred-id">{{purchse.status}}</span>
                        </div>
                        <!--<p class="deadline">Deadline: Oct 31, 2019</p>-->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="length === 0">
              <span>There is no purchase list</span>
            </div>
          </form>  
        </div> 
    </div>
  </div>
</div>


